html{
	height: 100%;
}
body {
	padding-top: 70px;
	background: url("https://source.unsplash.com/984e1Fk4E04");
	background-size: cover;
	background-position: center;
	font-family: 'Dosis' 'Courier New'
}
.jumbotron{
	color: white;
	background: #2c3e50;
}
.navbar-inverse {
	background:#2c3e50;
}
.navbar-inverse .navbar-nav>li>a{
	color:white;
}
.navbar-inverse .navbar-brand{
	color:white;
}
#content{
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,.4),
				0px 4px 3px rgba(0,0,0,.1),
				0px 4px 3px rgba(0,0,0,.1);
}
#splash{
	margin-top: 15%;
}
h1 {
	color:white;
	font-size: 5em;
}
h3 {
	color:white;
}
.btn-default{
	margin-right: 10px;
}
#recordbtn{

}
.visualizer{
	margin: 10px;
}
.sound-clips {
  flex: 1;
  overflow: auto;
}
.list-group-item {
	color: black;
}
.list-group {
	max-height: 30vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
#recordbtn, #stopbtn {
	max-width: 100%;
	margin: 0;
	/*font-size: 2.5vw;*/
}
.container {
	padding-top: 10px;
}
audio{
	/*width: 100;*/
	max-width: 100%;
}
.row{
	margin-top:5px;
	margin-left: 5px;
}